﻿@using Rendimientos_Web.Models;


@model Empleados


<div id="LabelPrint" class="form-group col-lg-12">
    <div id="resultsLabelPrint">
        <table id="tableLabelPrint" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Html.CheckBox("SelectedAll", false, new { @class = "input-group-text " })</th>
                    <th class="text-center">Codigo</th>
                    <th class="text-center">Colaborador</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var template in ViewBag.LabelPrint_List)
                 {
                    <tr>
                        <td class="text-center">@Html.CheckBox("Selected", false, new { @id = template.ID, @class = "input-group-text" })</td>
                        <td>@template.ID</td>
                        <td>@template.Nombre</td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>

