﻿@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Change/Change.js"></script>
<h2>Registro de Novedades</h2>
<hr />

<div class="row">
    <div class="box-body">
        <div class="row col-md-12" style="text-align:left">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="lstCentrosOperacion">Centro Operación:</label>
                @Html.DropDownList("lstCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="">Fecha:</label>
                @Html.TextBox("Date", null, new { @class = "form-control", @id = "Date", @type = "date" })
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="">Colaborador</label>
                <div class="form-group has-search">
                    <input id="CollaboratorID" type="search" class="form-control" placeholder="Search" name="lstCollaborator" list="lstCollaborator">
                </div>
                <datalist id="lstCollaborator">
                    @foreach (var item in ViewBag.lstCollaborator)
                    {
                        <option id="@item.ID" value="@item.Nombre">@item.Nombre</option>
                    }
                </datalist>
            </div>
        </div>
        <div class="row col-md-12" style="text-align:left">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="">Hora inicio:</label>
                @Html.TextBox("HourInitial", null, new { @class = "form-control", @id = "HourInitial", @type = "time" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="lstCentrosOperacion">Hora Fin:</label>
                @Html.TextBox("HourEnd", null, new { @class = "form-control", @id = "HourEnd", @type = "time" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="">Motivo:</label>
                @Html.DropDownList("lstChange", ViewData["lstChange"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1" style="padding-top: 25px;">
                <div class="btn-group">
                    <button id="btnPrintLabel" onclick="onClickSave()" name="btnPrintLabel" class="btn btn-success waves-effect waves-light">
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row col-md-12" style="text-align:left">
            <div class="form-group">
                @Html.Partial("performanceNovelty_List")
            </div>
        </div>


    </div>
</div>