﻿@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Performance/Performance.js"></script>

<h2>Consulta de rendimientos</h2>
<hr />

<div class="row">
    <div class="box-body">
        <div class="col-md-12" style="text-align:left">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="lstCentrosOperacion">Centro Operación:</label>
                @Html.DropDownList("lstCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="lstCentrosOperacion">Fecha:</label>
                @Html.TextBox("DateInitial", null, new { @class = "form-control", @id = "DateInitial", @type = "date" })
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1" style="padding-top: 25px;">
                <div class="btn-group">
                    <button id="btnPrintLabel" onclick="onClick()" name="btnPrintLabel" class="btn btn-success waves-effect waves-light">
                        <i class="fa fa-search"></i>
                    </button>                    
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1" style="padding-top: 25px;">
                <div class="btn-group">
                    <button id="dataExport" name="dataSensor" class="btn btn-success waves-effect waves-light">
                        <i class="fa fa-file-excel"></i>
                    </button>
                </div>
            </div>
            @*<div class="col-xs-3 col-sm-3 col-md-3">
            <label for="lstCentrosCosto">Centro Costo:</label>
            @Html.DropDownList("lstCentrosCosto", ViewData["lstCentrosCosto"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
        </div>*@
        </div>
        @*<div class="col-md-12" style="text-align:right">
            <div class="btn-group">
                <button id="btnPrintLabel" name="btnPrintLabel" data-target="#ModalParameters" data-toggle="modal" class="btn btn-success waves-effect waves-light">
                    <i class="fa fa-print"></i>
                </button>
            </div>
        </div>*@
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("Performance_List")
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.Partial("Process_List")
                </div>
            </div>
    </div>
</div>
