﻿@using Rendimientos_Web.Models;

@model sp_GetPerformanceSummary_Result

<div id="resultsLabelPrint">
    <table id="tableLabelPrint" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
        <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Colaborador</th>
                <th class="text-center">Proceso</th>
                <th class="text-center">Hora Inicio</th>
                <th class="text-center">Hora Fin</th>
                <th class="text-center">Tiempo</th>
                <th class="text-center">Cant. Ramos</th>
                <th class="text-center">Cant. Tallos</th>
                <th class="text-center">Promedio TxH</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in ViewBag.Summary_List)
            {
            <tr>
                <td>@template.CodigoColaborador</td>
                <td>@template.Empleado</td>
                <td>@template.Proceso</td>
                <td>@template.HoraInicio</td>
                <td>@template.HoraFin</td>
                <td>@template.Tiempo</td>
                <td>@template.CantidadRamos</td>
                <td>@template.Cantidadtallos</td>
                <td>@template.Promedio</td>
            </tr>
            }
        </tbody>       
    </table>
</div>

